<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Información en tiempo real Dragueo, Autodromo las Americas">
    <meta name="author" content="coreyes">

    <title>Dragueo</title>

    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dragueo.css">
    <link rel="stylesheet" href="/css/fonts.css">
  </head>

  <body id="body-container" class="d-flex flex-column min-vh-100">
  	<div class="modal fade" id="print" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dragueo">
            <h4 class="modal-title logo">Dragueo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
		    </button>
          </div>
          <div class="modal-body" style="color: #000000;">
          <div class="row">
            <div class="col text-center" id="driverLeft">-</div>
            <div class="col text-center">&nbsp;</div>
            <div class="col text-center" id="driverRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center"><img id="flagLeft" class="flag"/></div>
            <div class="col text-center">&nbsp;</div>
            <div class="col text-center"><img id="flagRight" class="flag"/></div>
          </div>
          <div class="row">
            <div class="col text-center" id="entryLeft">-</div>
            <div class="col text-center">Entry</div>
            <div class="col text-center" id="entryRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="treespeedLeft">-</div>
            <div class="col text-center">TREE&nbsp;SPEED</div>
            <div class="col text-center" id="treespeedRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="dialinLeft">-</div>
            <div class="col text-center">DIAL-IN</div>
            <div class="col text-center" id="dialinRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="reactionLeft">-</div>
            <div class="col text-center">REACTION</div>
            <div class="col text-center" id="reactionRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="ft60Left">-</div>
            <div class="col text-center">60</div>
            <div class="col text-center" id="ft60Right">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="ft330Left">-</div>
            <div class="col text-center">330</div>
            <div class="col text-center" id="ft330Right">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="ft660Left">-</div>
            <div class="col text-center">660</div>
            <div class="col text-center" id="ft660Right">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="mph1Left">-</div>
            <div class="col text-center">MPH1</div>
            <div class="col text-center" id="mph1Right">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="ft1320Left">-</div>
            <div class="col text-center">1320</div>
            <div class="col text-center" id="ft1320Right">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="mphLeft">-</div>
            <div class="col text-center">MPH</div>
            <div class="col text-center" id="mphRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="winnerLeft">-</div>
            <div class="col text-center">&nbsp;</div>
            <div class="col text-center" id="winnerRight">-</div>
          </div>
          <div class="row">
            <div class="col text-center" id="firstLeft">-</div>
            <div class="col text-center">FIRST</div>
            <div class="col text-center" id="firstRight">-</div>
          </div>
            <div class="row">
            <div class="col text-center" id="statusLeft">-</div>
            <div class="col text-center">STATUS</div>
            <div class="col text-center" id="statusRight">-</div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    
    <header>
		<nav class="navbar navbar-expand-md navbar-dark bg-dragueo fixed-top nav-masthead">
			<h3 class="masthead-brand logo">DRAGUEO</h3>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse ml-4" id="navbarsDefault">
		      <ul class="navbar-nav mr-auto">
		        <li class="nav-item">
		          <a class="nav-link" href="/">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/semaforo">Sem&aacute;foro</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/historico">Hist&oacute;rico</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" href="#">Top <span class="sr-only">(current)</span></a>
		        </li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<main role="main" class="container">
		<div class="container">
			<h1>Top</h1>
			<blockquote class="blockquote">
				<p class="mb-0">
					Listado iniciado en fecha 04/05/14.
				</p>
			</blockquote>
			<div class="table-responsive">
			<table class="table table-striped">
	  			<thead class="thead-dark">
	    			<tr>
	    				<th scope="col">Posici&oacute;n</th>
	    				<th scope="col">#</th>
	    				<th scope="col">Piloto</th>
	    				<th scope="col">Carro</th>
						<th scope="col">Mph</th>
						<th scope="col">1/4 Milla</th>
						<th scope="col">Fecha</th>
	    			</tr>
	  			</thead>
	  			<tbody id="times">
	    			<th:block th:each="t, tStat: ${top}">
	    				<tr th:id="${t.time}">
	    					<td th:text="${tStat.count}"></td>
	    					<td th:text="${t.entry}"></td>
	    					<td th:text="${t.piloto}"></td>
	    					<td th:text="${t.car}"></td>
	    					<td th:text="${t.mph}"></td>
	    					<td th:text="${t.ft1320}"></td>
	    					<td th:text="${t.fecha}"></td>
	    				</tr>
	    			</th:block>
	    		</tbody>
			</table>
			</div>
		</div>
	</main>
	
	<footer class="mt-auto">
		<div class="inner text-center">
          <p>&copy; Dragueo 2014.</p>
        </div>
	</footer>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="//getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/js/dragueo.js"></script>
    <script>
    	$(function(){
			$('#times tr').click(function() { showPrint(this) });
    	});
	</script>
  </body>
</html>